* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8f0;
    color: #000000;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header { 
    background: #ef82e1;
    color: white;
    padding: 10px 0px;
    justify-content: space-around;
    }

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    }

    nav {
    background: #e654d2; 
    padding: 0.8rem 0;
    text-align: center;
        }
    


header nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#hero {
  background-color: #f9e4d4;
  text-align: center;
  padding: 50px 20px;
}

#receitas {
  padding: 40px 20px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background-color: white;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  padding: 0 10px 10px;
  font-size: 0.9rem;
}

section {
  padding: 40px 20px;
}

footer {
  text-align: center;
  background-color: #e67e22;
  color: white;
  padding: 10px;
}
