/* Resetando o estilo padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8f0;
    color: #000000;
}

/* Estilo do cabeçalho */
header {
    background-color: #e654d2;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo do Hero Section */
.hero {
    background-image: url(https://i.pinimg.com/1200x/65/db/62/65db62441ea892b53953877136270259.jpg);
    background-size: auto;
    background-position: center;
    text-align: center;
    padding: 80px 20px;
    color: #E2FCFF;
    font-size: 24px;
    font-weight: bold;
}
